.timeline-item-1 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_12h41_05.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-2 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_12h45_46.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-3 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_12h46_15.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-4 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_12h47_35.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-5 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_12h48_21.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-6 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_12h48_49.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-7 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_12h49_42.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-8 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_12h52_04.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-9 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_12h56_46.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-10 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_12h58_34.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-11 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_13h00_41.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-12 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_13h02_48.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-13 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_13h03_26.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-14 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_13h03_51.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-15 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_13h04_27.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-16 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_13h05_39.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-17 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_13h06_02.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-18 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_13h06_24.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-19 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_13h08_26.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-20 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_13h11_25.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-21 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/DHCP/2021-04-06_13h23_19.png") center center no-repeat;
    background-size: cover;
}