.timeline-item-1 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Respaldo/2021-04-06_15h45_31.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-2 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Respaldo/2021-04-06_15h53_34.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-3 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Respaldo/2021-04-06_15h53_51.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-4 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Respaldo/2021-04-06_15h54_19.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-5 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Respaldo/2021-04-06_16h00_20.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-6 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Respaldo/2021-04-06_16h02_30.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-7 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Respaldo/2021-04-06_16h03_16.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-8 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Respaldo/2021-04-06_16h06_05.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-9 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Respaldo/2021-04-06_16h16_43.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-10 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Respaldo/2021-04-06_16h16_28.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-11 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Respaldo/2021-04-06_16h18_59.png") center center no-repeat;
    background-size: cover;
}