 .timeline-item-1 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h08_26.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-2 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h10_40.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-3 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h12_20.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-4 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h13_14.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-5 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h17_03.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-6 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h19_24.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-7 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h19_24.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-7 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h21_06.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-8 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h22_12.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-9 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h22_47.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-10 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h23_10.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-11 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h25_22.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-12 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h26_11.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-13 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h27_53.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-14 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h31_39.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-15 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h36_56.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-16 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h40_26.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-17 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h42_04.png") center center no-repeat;
     background-size: cover;
 }
 
 .timeline-item-18 .timeline-img-header {
     background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/active/2021-04-07_14h55_24.png") center center no-repeat;
     background-size: cover;
 }