.timeline-item-1 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h23_13.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-2 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h23_29.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-3 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h25_53.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-4 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h26_40.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-5 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h28_01.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-6 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h28_23.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-7 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h28_40.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-8 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h28_58.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-9 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h29_32.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-10 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h30_17.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-11 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h30_59.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-12 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h31_19.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-13 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h36_24.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-14 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h36_49.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-15 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h38_33.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-16 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h39_29.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-17 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h41_39.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-18 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h42_00.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-19 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h42_38.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-20 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h45_01.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-21 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h46_24.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-22 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h52_48.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-23 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-06_16h56_23.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-24 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-07_12h25_53.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-25 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-07_12h27_10.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-26 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-07_12h27_24.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-27 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-07_12h39_29.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-28 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-07_12h39_47.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-29 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-07_12h40_35.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-30 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-07_12h53_28.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-31 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-07_12h53_44.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-32 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-07_12h53_57.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-33 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-07_12h54_08.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-34 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-07_12h54_44.png") center center no-repeat;
    background-size: cover;
}

.timeline-item-35 .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../../img/Base/2021-04-07_12h55_19.png") center center no-repeat;
    background-size: cover;
}